<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

<div class="card">

    <form method="post" action="saveitem">



        Video Game Name:
<input type="text" name="videoGameName" required/>
        URL of video game:
<input type="url" name="URLofvideogame" required/>
        Created by:
<input type="text" name="Createdby" required saveFormAndReturnALLItems/>

        Added by: <input type="text" name="addedBy" value="<%=loginName%>" readonly/>

        <button class="image" type="submit" name="submit">Save Item</button>

    </form>

</div>
<% include ./footer %>
</body>
</html>
