<header>
    <nav class="purple">
        <a href="/" class="brand-logo center">
            <i class="material-icons">games</i>Top Video Game App
        </a>
    </nav>
</header>
<main class="black">
